<div id="<%= dom_id movie %>">
 <tr>
    <td class="ps-4"><%= movie.name %></td>
    <td class="ps-4"><%= link_to "Click Aquí", edit_movie_path(movie) %></td>
    <td class="ps-4"><%= link_to "Click Aquí", movie %></td>
</tr>
</div>
