.fondo {
    background-image: url(fondo.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

h1 {
    color:white;
}
tr {
    color:white;
}

.text {
    color: white;
}